<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> 
     <head>
          <meta charset="UTF-8" />
          <title>CodePen - bootstrap sidebar</title>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
          <!-- <link rel="stylesheet" href="./static/css/style.css" /> -->
               <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
               <link rel="stylesheet" href="./css/style.css">
          <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
     </head>
     <body>
          <!-- partial:index.partial.html -->
          <head th:insert="fragment/ahead"></head> </nav>
          <!--msb: main sidebar-->
          <head th:insert="fragment/adminpannel">     </body>
</html>
